{% extends 'base.html' %}   


{% block title %}
ACCOUNT
{% endblock %}



{% block content %}


 <!-- FLEXCONTAINER-SECTION -->

 

<div class="account-wrapper">
    <h1>Account Types</h1>
    <div class="account-items-grid">
        <div class="account-items account-1">
            <h4><i class="fa-solid fa-building"></i>Standard</h4>
            <div class="account-types">
                <p class="account-sub-headers">Minimum Deposit</p>
                <p>$250</p>
            </div>

            <div class="account-types">
                <p class="account-sub-headers">Trading Instruments</p>
                <p>Forex</p>
            </div>

            <div class="account-types">
                <p class="account-sub-headers">Leverage</p>
                <p>1:3</p>
            </div>

            <div class="account-types">
                <p class="account-sub-headers">Spread</p>
                <p>Floating From 0.1 pips</p>
            </div>
            <div class="account-types">
                <p class="account-sub-headers">Minimum Order Volume (lots)</p>
                <p>0,1</p>
            </div>
            
            <div class="account-types">
                <p class="account-sub-headers">Personal Manager</p>
                <p class="ye-xmark"><i class="fa-solid fa-xmark"></i></p>
            </div>
            <div class="account-types">
                <p class="account-sub-headers">Hedging</p>
                <p class="ye-xmark"><i class="fa-solid fa-xmark"></i></p>
            </div>
            <div class="account-types">
                <p class="account-sub-headers">Webinars</p>
                <p class="ye-xmark"><i class="fa-solid fa-xmark"></i></p>
            </div>
            <div class="account-types">
                <p class="account-sub-headers">Trading News</p>
                <p class="ye-xmark"><i class="fa-solid fa-xmark"></i></p>
            </div>    
        </div>

        <div class="account-items account-2">
            <h4><i class="fa-solid fa-landmark-flag"></i>Bronze</h4>
            <div class="account-types">
                <p class="account-sub-headers">Minimum Deposit</p>
                <p>$5,000</p>
            </div>

            <div class="account-types">
                <p class="account-sub-headers">Trading Instruments</p>
                <p>Forex, Crypto, Stocks.</p>
            </div>

            <div class="account-types">
                <p class="account-sub-headers">Leverage</p>
                <p>1:10</p>
            </div>

            <div class="account-types">
                <p class="account-sub-headers">Spread</p>
                <p>Floating From 0.2 pips</p>
            </div>
            <div class="account-types">
                <p class="account-sub-headers">Minimum Order Volume (lots)</p>
                <p>0,2</p>
            </div>
            
            <div class="account-types">
                <p class="account-sub-headers">Personal Manager</p>
                <p><i class="fa-solid fa-check"></i></p>
            </div>
            <div class="account-types">
                <p class="account-sub-headers">Hedging</p>
                <p><i class="fa-solid fa-check"></i></p>
            </div>
            <div class="account-types">
                <p class="account-sub-headers"> Webinars</p>
                <p class="ye-xmark"><i class="fa-solid fa-xmark"></i></p>
            </div>
            <div class="account-types">
                <p class="account-sub-headers">Trading News</p>
                <p><i class="fa-solid fa-check"></i></p>
            </div>     
        </div>

        <div class="account-items account-3">
            <h4><i class="fa-solid fa-landmark"></i>Silver</h4>
            <div class="account-types">
                <p class="account-sub-headers">Minimum Deposit</p>
                <p>$20,000</p>
            </div>

            <div class="account-types">
                <p class="account-sub-headers">Trading Instruments</p>
                <p>Forex, Commodities,Stocks,Crypto,Indices</p>
            </div>

            <div class="account-types">
                <p class="account-sub-headers">Leverage</p>
                <p>1:25</p>
            </div>

            <div class="account-types">
                <p class="account-sub-headers">Spread</p>
                <p>Floating From 0.5 pips</p>
            </div>
            <div class="account-types">
                <p class="account-sub-headers">Minimum Order Volume (lots)</p>
                <p>0,5</p>
            </div>
            
            <div class="account-types">
                <p class="account-sub-headers">Personal Manager</p>
                <p><i class="fa-solid fa-check"></i></p>
            </div>
            <div class="account-types">
                <p class="account-sub-headers">Hedging</p>
                <p><i class="fa-solid fa-check"></i></p>
            </div>
            <div class="account-types">
                <p class="account-sub-headers">Webinars</p>
                <p><i class="fa-solid fa-check"></i></p>
            </div>
            <div class="account-types">
                <p class="account-sub-headers">Trading News</p>
                <p><i class="fa-solid fa-check"></i></p>
            </div>          
        </div>

        <div class="account-items account-4">
            <h4><i class="fa-solid fa-chess"></i>Gold Premium</h4>
            <div class="account-types">
                <p class="account-sub-headers">Minimum Deposit</p>
                <p>$50,000</p>
            </div>

            <div class="account-types">
                <p class="account-sub-headers">Trading Instruments</p>
                <p>Forex, Commodities,Stocks,Crypto,Indices</p>
            </div>

            <div class="account-types">
                <p class="account-sub-headers">Leverage</p>
                <p>1:50</p>
            </div>

            <div class="account-types">
                <p class="account-sub-headers">Spread</p>
                <p>Floating From 0.10 pips</p>
            </div>
            <div class="account-types">
                <p class="account-sub-headers">Minimum Order Volume (lots)</p>
                <p>0,10</p>
            </div>
            
            <div class="account-types">
                <p class="account-sub-headers">Personal Manager</p>
                <p><i class="fa-solid fa-check"></i></p>
            </div>
            <div class="account-types">
                <p class="account-sub-headers">Hedging</p>
                <p><i class="fa-solid fa-check"></i></p>
            </div>
            <div class="account-types">
                <p class="account-sub-headers">Webinars</p>
                <p><i class="fa-solid fa-check"></i></p>
            </div>
            <div class="account-types">
                <p class="account-sub-headers">Trading News</p>
                <p><i class="fa-solid fa-check"></i></p>
            </div>        
        </div>
             
    </div>
</div>


<section class="flex-hero">
    <div class="flex-left">
        <h2 class="sub-header">Bonus On First Trade</h2>
        <p class="sub-text">
            Get a bonus on your first trade to boost your starting and 
            explore opportunities with added confidence and support.
        </p>
        <a href="{{url_for('signup')}}" class="hero-link">Start Trading</a>
    </div>
    
    <div class="flex-right">
        <img src="{{url_for('static', filename='images/reward-img.png')}}" alt="Bonus">
    </div>   
</section>
    
{% endblock %}