{% extends "base.html" %}


{% block title %} ADMIN SIGNUP {% endblock %}


{% block content %}

<div class="admin-login">
    <h1>Create Admin</h1>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endwith %}
    
    <form method="POST">
        
        <label>Email</label>
        <input type="email" name="email" placeholder="Admin Email" required>

        <label>Password</label>
        <input type="password" name="password" placeholder="Password" required minlength="8">

        <button type="submit">Create New Admin</button>
    </form>

    <div class="hint">
        AUTHORIZED ACCESS ONLY
    </div>
</div>

{% endblock %}

