{% extends "base.html" %}

{% block title %}
CHANGE PASSWORD
{% endblock %}


{% block content %}
    
<div class="settings-container">
    <h2>Change Password</h2>

    <form method="POST">
        <label for="current_password">Current Password</label>
        <input type="password" name="current_password" name="password" placeholder="Current Password" required><br>
        
        <label>New Password:</label>
        <input type="password" name="new_password" placeholder="New Password" required><br>

        <label>Confirm Password:</label>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required><br>

        <button type="submit">Change Password</button>
    </form>

</div>

<div class="dashboardRedirect">
    <a href="{{ url_for('settings') }}">BACK TO SETTINGS</a>
</div>

{% endblock %}
