{% extends "base.html" %}


{% block title %} FUNDS {% endblock %}


{% block content %}

<div class="funds-container">
    <h1>Funds</h1>

    <form method="POST" action="{{url_for('funds')}}">

        <div class="funds-group">
            <label for="user">SELECT USER</label>
            <select name="user_id" id="user" required>
                <option value="{{ user_id }}">{{current_user.name}} {{ current_user.surname }} ({{ current_user.email}})</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ current_user.name }} {{ current_user.surname }} ( {{ user.email }} )</option>
                {% endfor %}
            </select>
        </div>

        <div class="funds-group">
            <label for="amount">AMOUNT</label>
            <input type="number" id="amount" step="any" min="0" name="amount" placeholder="Enter Amount" required>
        </div>
    
        <div class="funds-actions">
            <button name="action" type="submit" value="deposit" class="deposit-btn">DEPOSIT</button>
            <button name="action" type="submit" value="withdraw" class="withdraw-btn">WITHDRAW</button>
        </div>

    </form>
</div>    

<div class="dashboardRedirect">
    <a href="{{ url_for('admin_dashboard') }}">ADMIN DASHBOARD</a>
</div>


{% endblock %}

