{% extends 'base.html' %}

{% block title %} REGISTER {% endblock %}


{% block content %}

<!-- SIGNUP-SECTION -->

<div class="signup-container-body">
    
    <div class="signup-container">
        <h2>CREATE ACCOUNT</h2>
    
        <form action="{{ url_for('signup') }}" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" required/>
            </div>
            <div class="form-group">
                <label for="name">Surame</label>
                <input type="text" name="surname" required/>
            </div>
            <div class="form-group">
                <label for="name">Email</label>
                <input type="email" name="email" required/>
            </div>
            <div class="form-group">
                <label for="name">Password</label>
                <input type="password" name="password" required/>
            </div>
            <div class="form-group">
                <label for="name">Phone Number</label>
                <input type="tel" name="phone_number" required/>
            </div>

            <button class="submit" value="Submit" onclick="submit()">SUBMIT</button>  

            <p>Already Have An Account.?<a class="changePage" href="{{ url_for('login')}}">LOGIN</a></p>

            <div class="ikons">
                <div class="sub-links">
                    <a href="{{url_for('helpcenter')}}"><i class="fa-sharp fa-solid fa-envelope"></i>Drop a Quick Message</a>
                </div>
                    
                <div class="sub-links">
                    <a href="{{url_for('home')}}"><i class="fa-solid fa-house-laptop"></i>Homepage</a>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- FLEXCONTAINER-SECTION -->

<section class="flex-hero">

    <div class="flex-left">
        <h2 class="sub-header">Reliable Quantum Computing</h2>
        <p class="sub-text">
            Advanced Algorithms driving next-level trading, Trade smarter, faster 
            and more efficient with Quantum intelligence for Cash-flow.
        </p>
        <a href="#" class="hero-link">Start Trading</a>
    </div>
    
    <div class="flex-right">
        <img src="{{url_for('static', filename='images/templates4.jpg')}}" alt="Trading Dashboard">
    </div>
    
</section>

    



{% endblock %}

